:root {
    --color-brand-primary: #2947A9;
    --color-brand-secondary: #F9995D;

    --color-brand-neutral: rgb(41, 46, 61);
    --color-brand-neutral-300:#A3AAC2;
    --color-brand-neutral-100:#E0E3EB;

    --color-brand-grey:#A3AAC2;
    --color-brand-light:#F6F8F7;
    --color-white:#fff;
    --color-error:#f65c78;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
    margin:0 0 1.5rem 0;
}

.btn {
    background-color: var(--color-brand-light);
    border-radius: 0.2rem;
    min-height: 40px;
    padding: 0.8rem;
    color: var(--color-brand-primary);
    font-weight: 700;
}


